html {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	font: 16px "Century Gothic", Sans-Serif;
	padding: 3.5rem 0 0 0;
	margin: 0;
	
	display: flex;
	min-height: calc(100vh - 3.5rem);
	flex-direction: column;
	
	/*-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;*/
}

#wrapper {
	position: relative;
	min-height: 100%;
	overflow: hidden;
	margin: 0 1rem;
	flex: 1;
	max-width: 1200px;
}

/* LINKS & TEXT ELEMENTS RESET */

a, a:link, a:active, a:visited, a:hover{
	color: inherit; text-decoration: none
}

.no-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

p, .no-list > li {
	margin: 1rem 0;
	padding: 0;
}

/* HEADER TITLE */

h1 {
	font-size: 4rem;
	line-height: 2.5rem;
	padding: 0;
	text-transform: uppercase;
	margin: 1rem 0 2rem 0;
	padding: 0 0 2rem 0;
	border-bottom: 3px solid #000;
}

h2 {
	font-size: 3rem;
	line-height: 3rem;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
}

h3, .big {
	line-height: 2rem;
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: normal;
	margin: 0;
}

.link {
	border-bottom: 3px solid #0CF;
}

.link:hover {
	border-bottom: 3px solid #FF0;
}

/* ACTIONBAR & MENU */

#actionbar {
	position: fixed;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
	line-height: 3.5rem;
	height: 3.5rem;
	/*background: #60B;*/
	background: #FFF;
	color: #000;

	font-size: 1.5rem;
	text-transform: uppercase;
	
	/*box-shadow: rgba(0, 0, 0, 0.14902) 0px 0.75rem 6rem 0px, rgba(0, 0, 0, 0.247059) 0px 0.5rem 1rem -0.25rem;*/
	/*box-shadow: 0 0 16px -6px #000, 0 0 8px -3px #000;*/
	
	display: flex;
	flex-direction: row;
	
	max-width: 1224px;
}

.menu {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	float: left;
}

.menu > li {
	float: left;
}

.menu > li > a{
	display: block;
	padding: 0 .5rem;
}

.menu > li > a > span{
	padding: .25rem .5rem;
	border-radius: 2px;
}

.menu > li > a:hover > span{
	background: #FF0;
}

/* SEARCH */

#search-form {
	position: relative;
	padding: .5rem;
	
	box-sizing: border-box;
	-moz-box-sizing: border-box;

	flex: 1;
	
	background: #FFF;
}

#search-button {
	display: none;
}

#search-input {
	position: relative;
	float: right;
	width: 50%;
	outline: none;
	height: 2.5rem;
	line-height: 2.5rem;
	padding: 0 .5rem;
	border: none;
	border-radius: 2px;

	font-family: "Century Gothic" Sans-Serif;
	font-weight: bold;
	font-size: 1rem;
	text-transform: uppercase;
	box-shadow: rgba(0, 0, 0, 0.14902) 0px 0.75rem 6rem 0px, rgba(0, 0, 0, 0.247059) 0px 0.5rem 1rem -0.25rem;
	transition: width ease-out .2s, box-shadow ease-out .2s;
	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

#search-input:focus {
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.14902) 0px 0.25rem 1rem 0px, rgba(0, 0, 0, 0.247059) 0px 0.5rem .25rem -0.25rem;
	box-shadow: rgba(0, 0, 0, 0.14902) 0px 0.75rem 6rem 0px, rgba(0, 0, 0, 0.247059) 0px 0.5rem 1rem -0.25rem;
}

#search-submit {
	display: none;
}

#search-query {
	text-transform: uppercase;
	padding: 0 .125rem;
	margin: 0 .125rem;
	background: #EEE;
	border-radius: 2px;
}

/* QUESTION */

.card {
	margin: 1rem 0;
	padding: 1rem;
	background: #60B;
	color: #FFF;
	border-radius: 2px;
	box-shadow: rgba(0, 0, 0, 0.14902) 0px 0.75rem 6rem 0px, rgba(0, 0, 0, 0.247059) 0px 0.5rem 1rem -0.25rem;
	overflow: hidden;
}

.ok { background: #074; }
.wrong { background: #E00; }

label{
	display:block;
	cursor: pointer;
}

.wrong > .response {
	text-decoration: line-through;
}

.ok > .response, .wrong > .response {
	box-shadow: none;
}

.response {
	border:none;
	outline: none;
	
	font-family: "Century Gothic", Sans-Serif;
	font-size: 2rem;
	line-height: 2.4rem;
	
	padding: .5rem 0;
	background: none;
	color: #FFF;
	margin: .5rem 0 1rem 0;
	width: 100%;
	border-bottom: 3px solid transparent;
	box-shadow: 0 1px 0 0 #FFF;
}

.response:focus {
	box-shadow: 0 3px 0 0 #FFF;
}

#submit{
	border:none;
	outline: none;
		
	font-family: "Century Gothic", Sans-Serif;
	font-size: 1rem;
	line-height: 1.2rem;
	font-weight: bold;
	
	padding: .5rem 1rem;
	background: #FFF;
	color: #60B;
	float:right;
	border-radius: 2px;
	cursor: pointer;
	text-align: right;
	
	text-decoration: none;
}

.ok #submit { color: #074; }
.wrong #submit { color: #E00; }

#submit:hover {
	background: #FF0;
}

/* FOOTER */

#footer {
	position:relative; 
	font-size: 1.5rem;
	text-transform: uppercase;
	
	height: 3.5rem;
	line-height: 3.5rem;
	
	margin: 1rem 0 0 0;
	
	border-top: 3px solid transparent;
	
	max-width: 1232px;
}

#footer::before {
	content: "";
	position: absolute;
	top: -3px;
	left: 1rem;
	right: 1rem;
	height: 3px;
	background: #000;
}

/* ABOUT */

#img {
	position: relative;
	width: 100%;
	font-size: 0;
}

#img > img {
	position: relative;
	width: 100%;
	max-width: 50%;
}

#heart {
	position: relative;
	color: transparent;
}

@keyframes beating {
    0% { font-size: 1.1em; }
    24% { font-size: 1.1em; }
    25% {font-size: 1.2em;}
}

#heart::after {
	color: #F00;
	content:"â¤";
	position:absolute;
	width: 6rem;
	left: 50%;
	margin: 0 0 0 -3rem;
	text-align: center;
	user-select: none;
	-webkit-user-select: none;
	
    animation-name: beating;
    animation-duration: 1s;
	animation-iteration-count: infinite;
	
	text-shadow: 0 0 2rem  rgba(255, 0, 0, .5);
}

/* ERRORS */

#codeblock {
	display: block;
	overflow-x: scroll;
	overflow-y: visible;
	background: #000;
	color: #0F0;
	padding: 1rem;
	border-radius: 2px;
	box-shadow: rgba(0, 0, 0, 0.14902) 0px 0.75rem 6rem 0px, rgba(0, 0, 0, 0.247059) 0px 0.5rem 1rem -0.25rem;
}

/*
section > div        { padding: 20px; }
header, nav, section { text-align: center;}
footer               { text-align: center;}
nav span             { margin: 0px 10px 0px 0px;
  					   width: 100%;
  					   display: inline-block;}

#ErrorMsgs           { color: #f61; font-size: smaler}
.right 				 {float: right;}

.quiz_img 			 { height: 150px; float: left;}

#dani {
	position: relative;
	height: 200px;
	border-radius: 100%;
	margin: 0 auto;
}
*/

@media only screen and (max-width: 850px) /* WIDTH < 850px*/ {
/*
	#page-wrap:after { content: "Wide Layout"; }

	nav       { float: left; width: 15%; height: 400px ;}
	nav span  { margin: 0px 100px 0px 0px;}
	section   { float: right; width: 80%; height: 400px ;}
	footer    { clear: both;  display: block; }
*/
	#search-input {
		width: 100%;
	}
}

@media only screen and (max-width: 650px) /* WIDTH < 650px */{

	body {
	}

	#actionbar {
		background: transparent;
	}

	#search-form {
		position: absolute;
		width: 100%;
		top:0;
		left:0;
	}

	#search-menu-button {
		display: block;
		position: absolute;
		top: .5rem;
		left: .5rem;
		width: 2.5rem;
		height: 2.5rem;
		background: cyan;
		z-index: 999;
		border-radius: 2px;
	}

	#search-input {
		width: 100%;
		padding: .5rem .5rem .5rem 3rem;
		transition: none;
	}

	#menu {
		display: none;
	}


	#menu.visible {
		position: absolute;
		z-index: 999;
		top: 3rem;
		left: .5rem;
		float: none;
		background: #FFF;
		box-shadow: rgba(0, 0, 0, 0.14902) 0px 0.75rem 6rem 0px, rgba(0, 0, 0, 0.247059) 0px 0.5rem 1rem -0.25rem;
		border-radius: 2px;
		padding: .5rem 0 0 0;
		background-clip: content-box;

		display: block;
	}


	#menu > li {
		float: none;
	}

	#menu > li:hover {
		background: #FF0;
	}
}