<h3 class="small"><label for="new-question">PREGUNTA</label></h3>
<input type="text" name="question[question]" id="new-question" value="{{ question }}" class="big" autofocus />

<h3 class="small"><label for="new-response">RESPUESTA</label></h3>
<input type="text" name="question[response]" id="new-response" value="{{ response }}" class="response" />

<select name="question[category]">

	{% for c in rawAttributes.category.values %}
	
		<option value="{{c}}" {% if c === category %}selected{% endif %}>{{c}}</option>
	
	{% endfor %}

</select>