<form method="get" action="quizes">
	<input type="text" name="search" placeholder="¿Qué estás buscando?" />
	<input type="submit" value="BUSCAR" />
</form>

<table>
<% for(var i = 0, L = questions.length; i < L; ++i) { %>
	<tr><td><a href="quizes/<%= questions[i].id %>"><%= questions[i].question %></a></td></tr>
<% } %>
</table>