{% extends "../layout.html" %}

{% block body %}

<h2>PREGUNTAS</h2>

<p><a href="/quizes/create" class="big link">Crear una nueva pregunta</a></p>

{% for c in categories %}
	<a href="/quizes/{{c}}" class="link">{{c}}</a>
{% endfor %}

{% if questions.length > 0 %}	
	<ul class="no-list">
	{% for q in questions %}
		<li>
			<a href="/quizes/{{ q.id }}" class="big link">{{ q.category }} | {{ q.question }}</a>
		
			<span class="submenu-icon"></span>
		
			<ul class="no-list submenu">
				<li><a href="/quizes/{{ q.id }}/edit">EDITAR</a></li>
				<li class="delete" data-id="{{ q.id }}"><span>ELIMINAR</span></li>
			</ul>
		</li>
	{% endfor %}
	</ul>
{% else %}
	{% if category !== "" %}
		{% if search !== "" %}
			<p>No hay resultados que para «<code id="search-query">{{search}}</code>» en la categoría «<code id="search-query">{{category}}</code>».</p>
		{% else %}
			<p>No hay preguntas en la categoría «<code id="search-query">{{category}}</code>».</p>
		{% endif %}
	{% else %}
		{% if search !== "" %}
			<p>No hay resultados que para «<code id="search-query">{{search}}</code>».</p>
		{% else %}
			<p>No hay preguntas disponibles.</p>
		{% endif %}
	{% endif %}
{% endif %}

{% endblock %}