<form method="get" action="/quizes/answer">
  <h2>Pregunta: <%= pregunta %></h2>
  <p><input type="text" name="respuesta" placeholder="Responda aquí"/></p>
  <p><input type="submit" value="Enviar"/></p>
</form>